

.dash
  &__heading
    text-align: center
    color: #4A4A4A
  &__title
    font-family: $varelaFamily
    font-size: 52px
    text-align: center
    margin: .3em 0 .1em
  &__subtitle
    font-size: 18px
    font-weight: bold
