.login-container
  margin: auto
  width: 100%
  max-width: 615px

.login
  > .container
    min-height: calc(100vh - 120px - 70px - 80px)
    display: flex
    flex-direction: column

.login-remember
  max-width: 350px
  margin-left: auto
