.signup
  flex: 1 0 auto
  padding-top: 120px
  padding-bottom: 70px
  // min-height: 100vh
  background: $colorBlue
  &__container
    margin: 50px auto 0px
    max-width: 615px
  &__form
    background: white
    padding: 40px 40px 20px
    &-cta
      max-width: 350px
      margin-left: auto
      margin-top: 15px
      &--centered
        margin-left: auto
        margin-right: auto

  &__captcha
    max-width: 350px
    margin-left: auto

  &__rules
    max-width: 350px
    margin-left: auto
    margin-top: 15px
    margin-bottom: 15px
    font-size: 14px
    color: #888B8B
    line-height: 1.1
    a
      color: $colorBlue
      transition: .25s $ease
      &:hover
        color: $colorYellow

  &__heading
    font-size: 18px
    font-weight: bold
    color: #4A4A4A
    margin: -15px 0 30px
    text-align: center

  &__choose
    font-size: 14px
    font-weight: bold
    color: #383838
    margin: 0
    text-align: center
    &--not-bold
      font-weight: normal
      margin-left: -10px
      margin-right: -10px

  &__options
    margin: 30px auto
    max-width: 350px

  &__note
    background: #FFF3DE
    padding: 25px 10px 15px 25px
    font-size: 14px
    margin-left: -20px
    margin-right: -20px
    margin-bottom: 30px
    .t-up
      font-size: 17px


.signup-option
  position: relative
  font-size: 14px
  text-align: center
  width: 100%
  border: 1px solid #CCCCCC
  border-radius: 3px
  padding: 12px
  margin-bottom: 15px
  color: #9B9B9B
  transition: .25s $ease
  &:last-child
    margin-bottom: 0
  &::after
    display: block
    content: ' '
    position: absolute -2px
    border: 2px solid #0A1E39
    opacity: 0
    border-radius: 3px
    transition: .25s $ease
  &[data-disabled="true"]
    pointer-events: none
  &:hover
    border-color: #0A1E39
  &.is-active
    border-color: #0A1E39
    color: #0A1E39
    &:after
      opacity: 1
