.signup
  flex: 1 0 auto
  padding-top: 120px
  padding-bottom: 70px
  // min-height: 100vh
  background: $colorBlue
  &__container
    margin: 50px auto 0px
    max-width: 615px
    &--wide
      max-width: 915px
  &__form
    background: white
    padding: 40px 40px 20px
    &-cta
      max-width: 350px
      margin-left: auto
      margin-top: 15px
      &--centered
        margin-left: auto
        margin-right: auto

  &__captcha
    max-width: 350px
    margin-left: auto
    + .ui-input-validation
      margin-top: 5px

  &__rules
    max-width: 350px
    margin-left: auto
    margin-top: 15px
    margin-bottom: 15px
    font-size: 14px
    color: #888B8B
    line-height: 1.1
    a
      color: $colorBlue
      transition: .25s $ease
      &:hover
        color: $colorYellow

  &__heading
    font-size: 18px
    font-weight: bold
    color: #4A4A4A
    margin: -15px auto 30px
    text-align: center
    max-width: 670px

  &__choose
    font-size: 14px
    font-weight: bold
    color: #383838
    margin: 0
    text-align: center
    &--not-bold
      font-weight: normal
      margin-left: -10px
      margin-right: -10px

  &__options
    margin: 30px auto
    max-width: 350px

  &__note
    background: #FFF3DE
    padding: 25px 10px 15px 25px
    font-size: 14px
    margin-left: -20px
    margin-right: -20px
    margin-bottom: 30px
    .t-up
      font-size: 17px

  &__seller-form
    margin-top: 25px
    margin-bottom: 45px

  &__subcontainer
    padding-left: 10px
    padding-right: 10px
    margin-top: 20px
    img
      max-width: 100%
      width: 100%
      font-size: 0
      margin-bottom: 25px

  &__checkboxes
    margin: 15px 0 30px

  &__table
    border-collapse: collapse
    width: 100%
    margin-bottom: 40px
    thead
      td
        background: #E5E5E5
        font-weight: bold
    tbody
      td
        border-bottom: 1px solid #979797
        padding-top: 10px
        padding-bottom: 10px

    td
      font-size: 14px
      padding: 14px 17px
      .for-desktop
        display: none
    tr
      td:last-child
        text-align: center
  &__table-connection
    min-height: 34px
    vertical-align: middle
    display: flex
    align-items: center
    justify-content: center
    font-size: 14px
    .ico-checkmark
      display: flex
      background: $colorGreen svg-load('../images/icons/checkmark.svg') no-repeat center
      border-radius: 50%
      size: 23px
      margin-right: 6px

+r($desktop)
  .signup
    &__table
      display: block
      thead
        display: none
      tbody
        display: block
        td
          border-bottom: 0
          padding-left: 0
          padding-top: 5px
          padding-right: 0
      tr
        display: block
        margin-bottom: 20px
        td:last-child
          text-align: left
      td
        display: block
        .for-desktop
          display: block
          font-size: 12px
          font-weight: bold
          margin-bottom: 5px

+r($tablet)
  .signup
    &__form
      &-cta
        margin-left: auto
        margin-right: auto

    &__captcha
      margin-right: auto
      max-width: 304px

    &__rules
      margin-right: auto
      max-width: 304px

+r($mobile)
  .signup
    padding-top: 90px
    &__container
      margin: 30px -20px 0
    &__form
      padding-left: 20px
      padding-right: 20px
    &__note
      font-size: 13px
      .t-up
        font-size: 15px
    &__subcontainer
      padding-left: 0
      padding-right: 0
      img
        margin-left: -20px
        margin-right: -20px
        width: calc(100% + 40px)
        max-width: calc(100% + 40px)


.signup-option
  position: relative
  font-size: 14px
  text-align: center
  width: 100%
  border: 1px solid #CCCCCC
  border-radius: 3px
  padding: 12px
  margin-bottom: 15px
  color: #9B9B9B
  transition: .25s $ease
  &:last-child
    margin-bottom: 0
  &::after
    display: block
    content: ' '
    position: absolute -2px
    border: 2px solid #0A1E39
    opacity: 0
    border-radius: 3px
    transition: .25s $ease
  &[data-disabled="true"]
    pointer-events: none
  &:hover
    border-color: #0A1E39
  &.is-active
    border-color: #0A1E39
    color: #0A1E39
    &:after
      opacity: 1
