.ico-back-arrow {
  width: 0.58em;
  height: 1em;
  fill: #2F417C;
}
.ico-checkmark {
  width: 1.11em;
  height: 1em;
  fill: none;
}
.ico-dash-nav-dashboards {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-dash-nav-planning {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-dash-nav-settings {
  width: 1.02em;
  height: 1em;
  fill: #FFF;
}
.ico-dropdown-arrow {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-logo {
  width: 4.34em;
  height: 1em;
  fill: #FFC402;
}
.ico-mail {
  width: 1.36em;
  height: 1em;
  fill: none;
}
